body {
    margin: 0 !important;
    padding: 0 !important;
    --primary-color: #333333;
    --primary-color-dark: #232323;
    --accent-color: #da0717;
    --blue-sky: #03A9F4;
}

.left, .right {
    display: inline-block;
}

.left {
    width: 472px;
    float: left;
    /*background-color: #66bb6a;*/
}

.right {
    width: 512px;
    float: right;
    /*background-color: #90caf9;*/
}

.container {
    width: 1024px;
    margin: 0 auto;
    /*background-color: pink;*/
}

.header-layout {
    background-color: var(--primary-color-dark);
}

.header-nav {
    padding: 20px;
}

.header-nav-title {
    display: inline-block
}

.header-nav-title > small {
    font-weight: 300;
    color: white;
}

.nav-title {
    color: white;
    font-size: 20pt;
    font-weight: 300;
    /*background-color: lightblue;*/
}

.nav {
    display: inline-block;
    float: right;
}

.nav a {
    color: white;
    text-decoration-line: none;
    /*background-color: lightgray;*/
    margin-left: 8px;
    font-weight: lighter;
    font-size: 8pt;
    cursor: pointer;
}

.nav a:hover {
    text-decoration-line: underline;
}

.header-tab {
    background-color: var(--primary-color-dark);
}

.mdl-layout__tab {
    font-weight: 300;
}

.mdl-layout__tab.is-active,
.mdl-layout__tab:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.mdl-layout__tab.is-active::after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: var(--accent-color);
    -webkit-animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) alternate forwards;
    animation: border-expand 0.2s cubic-bezier(0.4, 0, 0.4, 1) alternate forwards;
    transition: all 1s cubic-bezier(0.4, 0, 1, 1);
}

footer {
    background-color: var(--primary-color);
    padding: 20px 0;
    font-weight: 300;
}

footer > .container {
    color: white;
}

footer > .container > .left > p {
    font-size: 18pt;
}

footer > .container > .right {
    height: 82px;
}

.copy-right {
    position: relative;
    top: 53%;
    float: right;
    text-align: right;
    font-size: 8pt;
}

.button-blue-sky,
.button-blue-sky:hover,
.button-blue-sky.mdl-button--raised,
.button-blue-sky.mdl-button--fab {
    color: rgb(255, 255, 255);
    background-color: var(--blue-sky);
}

.button-link,
.button-link:hover,
.button-link.mdl-button--raised,
.button-link.mdl-button--fab {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.button-blue-sky .mdl-ripple {
    background: rgb(255, 255, 255);
}

.button-link .mdl-ripple {
    background: var(--blue-sky);
}

.button-border {
    width: 94px;
    border: 1px solid lightgray;
    color: var(--primary-color);
    font-size: 10px;
    text-align: center;
}
